.signupFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .signupFormHeader {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .signupForm {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .signupFormLabel {
    margin-bottom: 10px;
    font-size: 14px;
    color: #555;
  }
  
  .signupFormInput {
    width: 93%;
    padding: 15px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .signupFormButton {
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    background-color: #0A0081;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .signupFormButton:hover {
    background-color: white;
    color: #0A0081;
  }

  .signupFormSwitchButton {
    margin-top: 10px;
    border: none;
    background: none;
    color: #007bff;
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
  }
  
  