body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

index-content{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilos para desktop */
@media (min-width: 1024px) {
    main {
        max-width: 1024px;
        margin: 0 auto;
    }
}
