body{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #0A0081;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
}

.header .logo {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50px;
}

.header .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    height: auto; 
    filter: invert(100%);
}

.header .left-icon {
    left: 20px;
}

.header .right-icon {
    right: 20px;
}